.iHandLink {
    font-size: 25px;
    cursor: pointer;
}

.input-group-addon {
    color: #1a7bb9;
    background-color: #fff;
    font-size: 1.6em;
    border: none;
    text-align: center;
}

/***************  ROLES ***********************/

/* organizar lista de permisos */
.table-permissions {
    min-height: 30px;
    /*min-width: 100%;*/
}

.badge {
    font-size: 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



/*****************  Profile Users  ***************/

.profile {
    border-top: none;
}

.profile-image img {
    width: 96px;
    height: 96px
}

.profile-title {
    text-align: center;
}

.profile-info {
    margin-top: 20px
}

@media (min-width: 768px) { }

@media (min-width: 992px) {
    .profile-image{
        width:120px;
        float:left
    }

    .profile-info {
        margin-left: 120px
    }

    .profile-title {
        text-align: left;
    }

}

@media (max-width: 1200px) { }


.icheckbox_square-green, .iradio_square-green {
    margin-right: 10px;
}



/* *************  datatables  ************* */
@media (max-width: 767px) {
    .dataTables_info, .dataTables_length, .html5buttons {
        display: none;
    }

    .dataTables_filter {
        margin-top: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .dataTables_info, .dataTables_length, .html5buttons {
        display: none;
    }

}




/*
    clase para que todos los campos de un formulario tengan el mismo tamaño. Elimina el border del form-control original
*/
.form-control2 {
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control-height {
    min-height: 34px;
}

.outspace-top {
    margin-top: 10px;
}

.outspace-bottom {
    margin-bottom: 10px;
}


@media (max-width: 767px) {
    .outspace-percent-exec {
        margin: 20px;
    }
}


.nav-tabs li a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
}

.search {
    max-width: 20em;
}


/* listado orders */
#orders-cant:before {
    content: attr(data-content);
}

#orders-vlr-unidad:before {
    content: attr(data-content);
}

@media (min-width: 992px) {
    #orders-cant:before {
        content: attr(data-content-sm);
    }

    #orders-vlr-unidad:before {
        content: attr(data-content-sm);
    }
}

.min-input {
    min-width: 100px;
    max-width: 200px;
}

.text-inline {
    white-space: nowrap;
}



/* ****************   Select2 - corrección en el reponsive  **************/
.select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: 35px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}

a[href="http://www.amcharts.com"] {
    visibility:hidden;
}